.whole_profile {
    height: calc(100vh - 110px);
}

.name_avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    background-color: #c9e0ffa4;
}

.name_avatar.purple {
    background-color: rgba(137, 43, 226, 0.479);
}

.pencilIcon {
 align-self: flex-end;
}

div.avatar_container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.avatar_container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.name_avatar p {
    margin-top: 1rem;
    font-size: 1.9rem;
}

span.email {
    font-size: 1.1rem;
}

.therapist_card {
    background-color: red;
}

