.whole_profile {
    height: calc(100vh - 110px);
}

.name_avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    background-color: #c9e0ffa4;
}

.pencilIcon {
 align-self: flex-end;
}

.name_avatar span {
    margin-top: 1rem;
    font-size: 1.9rem;
}

.name_avatar img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}