.navbar-top {
  padding-top: .9rem;
  padding-bottom: .9rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 4px 3px 0 rgb(0 0 0 / 15%), 0 6px 20px 0 rgb(0 0 0 / 10%); */
}
