.name_avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9e0ffa4;
}

._placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  width: 95%;
  margin-bottom: 0;
}

#therapists {
  overflow-y: scroll;
  max-height: 730px;
}

#therapists::-webkit-scrollbar {
  width: 5px;
}

#therapists::-webkit-scrollbar-track {
  background: #ffffffde;
}

#therapists::-webkit-scrollbar-thumb {
  background: #E1E8ED;
}
